:80 {
	rate_limit {
		zone global_zone {
			key {remote_host}
			events 100
			window 1m
		}
	}

  handle_path /logs* {
    reverse_proxy victorialogs:9428/select/vmui
  }

  handle_path /metrics* {
    reverse_proxy victoriametrics:8428/vmui
  }

  handle_path /etl* {
    reverse_proxy dagster-webserver:3000
  }

  handle_path /ml* {
    reverse_proxy mlflow:5000
  }

  handle_path /nats* {
    reverse_proxy nats:31311
  }

  handle {
    reverse_proxy dashboard-frontend:5173
  }

}

:433 {
	rate_limit {
		zone global_zone {
			key {remote_host}
			events 100
			window 1m
		}
	}

  handle_path /logs* {
    reverse_proxy victorialogs:9428/select/vmui
  }

  handle_path /metrics* {
    reverse_proxy victoriametrics:8428/vmui
  }

  handle_path /etl* {
    reverse_proxy dagster-webserver:3000
  }

  handle_path /ml* {
    reverse_proxy mlflow:5000
  }

  handle_path /nats* {
    reverse_proxy nats:31311
  }

  handle {
    reverse_proxy dashboard-frontend:5173
  }
}
